<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- configuration to be enabled when the "prod" profile is not active -->
    <property name="log_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20}[%L] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>


    <logger level="info" name="org.springframework"/>
    <logger level="info" name="org.apache.zookeeper"/>
    <logger level="info" name="org.apache.http"/>
    <logger level="info" name="org.redisson"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
